.options{
display: flex;
justify-content: center;
gap: 10px;
margin: 20px ;
}

button {
    padding: 10px 20px;
    margin: 0;
    background-color: #603F26;
    color:#FFEAC5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6C4E31;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}